.info-higher-bg {
  background-color: $first-color-dark;
  color: $color-light;
}
.info-higher {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 25px;
  p {
    padding: $gap-smaller;
  }
  @include device(mobile) {
    justify-content: center;
  }
}
