.products-blog {
  margin-bottom: $gap-larger;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.item-products {
  margin: 0 $gap-smaller;
  background-color: $second-color-ligth;
  flex: 1 1 175px;
  @include device(mobile) {
    margin-bottom: $gap-medium;
  }
}

.purple {
  border-top: 8px solid $third-color;
}
.pink {
  border-top: 8px solid $fourth-color;
}

.blue {
  border-top: 8px solid $fifth-color;
}
