.title {
    font-size: em(48);
    line-height: em(48,48);
    font-weight: 700;
}

.title-blog {
    @extend .title;
    padding: $gap-larger $gap-smaller;
}

.title-about {
    @extend .title;
    padding-top: $gap-smaller;
    padding-bottom: $gap-medium;
}

.title-products {
    @extend .title;
    padding: $gap-xlarger $gap-smaller;
}

.subtitle {
    font-size: em(48);
    font-weight: 700;
    color: $second-color;
}

.sub-blog{
    @extend .subtitle;
    padding: $gap-xlarger $gap-smaller;
}

.sub-price {
    @extend .subtitle;
    text-align: center;
    margin-top: $gap-small;
}